<div id="container">
<!-- 	<%= @orders.inspect %> -->
	<ul>
	<% @orders.each do |order| %>
		<li><%= order.id %></li>
		<li><%= order.quantity %></li>
		<li><%= order.size %></li>
		<li><%= order.created_at %></li>
		<li><%= order.customer.name %></li>
	<% end %>
	</ul>
</div>