<!DOCTYPE html>
<html>
<head>
  <title>Mks2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">

		<header>
			<div>
				<h1>Tweet<span>Shirt</span>.io</h1>
			</div>
			<div class="login">
				<% if logged_in? %>
				  Logged in as: <%= current_user.name %> <%= link_to 'Log Out', logout_path, method: :delete %>
				<% else %>
				  <%= link_to 'Log In', login_path %>
				<% end %>
			</div>
		</header>


		<%= yield %>

	</div><!-- end container -->

</body>
</html>
